{% include "header.html" %}
<body>
<div>
    <form method="POST" style="border:1px solid black;">
        <div style="border: 1px solid purple; width:100%">


            <div style="border:1px solid green">
                {% if display['game'].game_phase == 'how_many_players' %}
                <p>How many players? 1(not recommended) - 6</p>
                <input type="number" id="quantity" name="quantity" min="1" max="6" value="2">
                <input id="b1" type="submit" name='p' value='sumbit'/>
                {% endif %}
            </div>


            <div>
                {% if display['game'].game_phase == 'b4mov_spells' %}
                <h1>Do you want to cast spell before movement?</h1>
                <input type="submit" name='yes' value='YES'/>
                <input type="submit" name='no' value='NO'/>
                {% endif %}
                {% if game_phase == 'b4mov_spells_casting' %}
                <h1>Which spell do you want to cast?</h1>
                {% for spell in spells %}
                {% endfor %}
                {% endif %}
            </div>


            <div>
                {% if display['game'].game_phase == 'movement_dice_roll' and display['game'].game_subphase != 'movement'
                %}
                <h1>Please roll the dice to begin movement</h1>
                <input type="submit" name='dice_roll' value='dice roll'/>
                {% endif %}
                <div>
                    {% if display['game'].game_phase == 'movement_dice_roll' and display['game'].game_subphase ==
                    'movement'
                    %}
                    <div style="display: flex; justify-content: space-between">
                        <div style="border: 1px black solid; display: flex; flex-direction: column; align-items: center; justify-content: space-between">
                            <h2>{{ display['move_backward']['name'] }} cards to draw: {{
                                display['move_backward']['cards_to_draw']
                                }}</h2>
                            <h2>{{ display['game_field'][ display['bmi']] }}</h2>
                            {% for player in display['players_position_bkw'] %}
                            <h6>{{ player }} </h6>
                            {% endfor %}
                            <input type="submit" name='backward' value='Go to {{ display["move_backward"]["name"]}}'/>
                        </div>
                        <div style="border: 1px black solid;  display: flex; flex-direction: column; align-items: center; justify-content: space-between">
                            <h2>{{ display['move_forward']['name'] }} cards to draw: {{
                                display['move_forward']['cards_to_draw']
                                }}</h2>
                            <h2> {{ display['game_field'][ display['fmi']] }}</h2>
                            {% for player in display['players_position_fwd'] %}
                            <h6>{{ player }} </h6>
                            {% endfor %}

                            <input type="submit" name='forward' value='Go to {{  display["move_forward"]["name"]}}'/>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>


            <div>
                {% if display['game'].game_phase == 'ETS' and display['game'].game_subphase != 'ETS_draw' %}
                <h2> Draw a card </h2>
                <input type="submit" name='draw' value='Draw a card'/>
            </div>
            {% endif %}
            {% if display['game'].game_subphase == 'ETS_draw'%}
            <div>
                <h3>{{ display['card'].title }}</h3>
                <input type="submit" name='OK_card' value='OK'/>
                {% endif %}
            </div>


            <div>
                {% if display['game'].game_subphase == 'EWE_Evade' %}
                <h1>Do you want to try to evade?</h1>
                <input type="submit" name='yes_EWE_Evade' value='YES_evade'/>
                <input type="submit" name='no_EWE_Evade' value='NO_evade'/>
                {% endif %}
            </div>


            <div>
                {% if display['game'].game_subphase == 'EWE_Spells' %}
                <h1>Do you want to cast spell before battle?</h1>
                <input type="submit" name='yes_EWE_Spells' value='YES'/>
                <input type="submit" name='no_EWE_Spells' value='NO'/>
                {% endif %}
            </div>


            <div>
                {% if display['game'].game_subphase == 'EWE_Battle' %}
                <h1>Battle with {{ display['card'].title }}</h1>
                <h2>Enemy strength {{ display['enemy_strength'] }}</h2>
                <h2 style="color: red">Player strength {{ display['player_strength'] }}</h2>
                {% if display['battle_result'] == '' %}
                <input type="submit" name='dice_roll_enemy' value='dice roll for enemy'/>
                <input type="submit" name='dice_roll_character' value='dice roll for character'/>
                {% endif %}
                {% endif %}
                {% if display['battle_result'] != '' and display['game'].game_phase == 'EWE_after_battle' %}
                <h3 style="color: red">Battle result: {{ display['battle_result'] }}</h3>
                <input type="submit" name='end_turn' value='end turn'/>
                {% endif %}
            </div>


            <div>
                {% if display['game'].game_phase == 3 %}
                <h1>You meet an another Player</h1>
                <h2>Do you want to ecounter him?</h2>
                <input type="submit" name='yes_ETS' value='YES'/>
                <input type="submit" name='no_ETS' value='NO'/>
                {% endif %}
            </div>


            <div>
                {% if display['game'].game_subphase == 'EWP_Choose_Player_to_attack'%}
                <h2> Choose player to ecounter with</h2>
                {% for player in display['players_in_game'] %}
                {% if player.position == display['position'] %}
                {% if player != display['game'].current_player%}
                <input type="submit" name="{{ player }}" value="{{ player.character.title }}"/>
                {% endif %}
                {% endif %}
                {% endfor %}
                {% if display['game'].game_subphase == 'EWP_Choose_PLayer_to_attack' %}
                {% endif %}
            </div>


            <div>
                {% if display['game'].game_subphase == 'EWP_Choose' %}
                <h1>Choose what you want to do?</h1>
                <div>
                    <input type="submit" name='str_EWP' value='Use strength'/>
                    <input type="submit" name='craft_EWP' value='Use Magic'/>
                    <input type="submit" name='skill_EWP' value='Use Skill'/>
                </div>
                {% endif %}
                {% endif %}
            </div>

        </div>


    </form>
</div>
<!-- PLAYERS STATS -->
<div style="display : flex; justify-content: space-between">
    {% if display['game'].game_phase != 'how_many_players' %}
    <div style="border: 1px solid black">
        <h2 style="color: green">CURRENT PLAYER : {{ display['game'].current_player.character.title }} </h2>
        <p id="cpp">current_player position: {{ display['position'] }}</p>

        <p>strength : {{ display['game'].current_player.strength }}</p>
        <p>battle strength : {{ display['game'].current_player.battle_strength }}</p>
        <p>life : {{ display['life'] }}</p>
        <p>strength trophy : {{ display['strength_trophy'] }}</p>

    </div>
    {% endif %}
    <!-- BATTLE PVP -->
    {% if display['game'].game_phase == 'EWP_Battle' %}
    <div style="border: 1px solid black; order:3">
        {% if display['game'].pvp_player != ""%}
        <h2 style="color: green">ATTACKED PLAYER : {{ display['game'].pvp_player.character.title }}</h2>
        {% endif %}
        <!--        <p id="cpp">current_player position: {{ display['position'].name }}</p>-->
        <p>strength : {{ display['game'].pvp_player.strength }}</p>
        <p>battle strength : {{ display['game'].pvp_player.battle_strength }}</p>
        <p>life : {{ display['game'].pvp_player.life }}</p>
        <p>strength trophy : {{ display['strength_trophy'] }}</p>
    </div>
    {% endif %}

    {% if display['game'].game_subphase == 'EWP_Choose' %}
    <div style="order: 2">
        <form method="POST">
            <h1>Choose what you want to do?</h1>
            <div>
                <input type="submit" name='strength_EWP' value='Use strength'/>
                {% if display['game'].current_player.magic_fight == True %}
                <input type="submit" name='craft_EWP' value='Use Magic'/>
                {% endif %}
                {% if (display['game'].current_player.skills_against_character)|length > 0 %}
                <input type="submit" name='skill_EWP' value='Use Skill'/>
                {% endif %}
            </div>
        </form>
    </div>
    {% endif %}
    {% if display['game'].game_subphase == 'EWP_Strength' %}
    <div style="order: 2">
        <form method="POST">
            <h1>Please dice roll</h1>
            <div>
                <input type="submit" name='attacker_dice_roll' value='Dice roll for attacker player'/>
                {% if display['game'].current_player.magic_fight == True %}
                <input type="submit" name='defending_dice_roll' value='Dice roll for defending player'/>
                {% endif %}
            </div>
        </form>
    </div>
    {% endif %}
    {% if display['game'].game_subphase == 'EWP_afterbattle' %}
    <div style="order: 2">
        <form method="POST">
            {% if display['game'].pvp_winner != 'draw' %}
            <h1>{{ display['game'].pvp_winner.character.title }} wins </h1>
            <div>
                <h3> What do you want to do with loser? </h3>
                <input type="submit" name='take_life' value='take 1 point of life'/>
                <input type="submit" name='take_gold' value='take 1 piece of gold'/>
                <input type="submit" name='take_item' value='take 1 item'/>
            </div>
            {% endif %}
            {% if display['game'].pvp_winner == 'draw' %}
            <h1>{{ display['game'].pvp_winner }} wins </h1>
            <input type="submit" name='end_turn' value='end turn'/>
            {% endif %}
        </form>
    </div>
    {% endif %}
    {% if display['game'].game_subphase == 'EWP_defence' %}
    <div style="order: 2">
        <form method="POST">
            <div>
                <h3>Roll dice for armour </h3>
                <input type="submit" name='EWP_defence_armour' value='roll dice'/>
            </div>
        </form>
    </div>
    {% endif %}
    {% if display['game'].game_subphase == 'EWP_defence_true' %}
    <div style="order: 2">
        <form method="POST">
            <div>
                <h3>Your armour has protect you</h3>
                <input type="submit" name='end_turn' value='end turn'/>
            </div>
        </form>
    </div>
    {% endif %}
    {% if display['game'].game_subphase == 'EWP_defence_false' %}
    <div style="order: 2">
        <form method="POST">
            <div>
                <h3>armour failed . {{ display['game'].pvp_loser.character.title }} lost 1 point of life</h3>
                <input type="submit" name='end_turn' value='end {{ display["game"].current_player.character.title}} turn'/>
            </div>
        </form>
    </div>
    {% endif %}

</div>

<!-- GAME MAP -->
{% if display['game'].game_phase != 'how_many_players' %}}
<div style=" border :1px solid red">
    <p style="text-align: center"> GAME MAP </p>
    <div style="display:flex">
        {% for space in display['game_field'] %}
        <div style="border :1px solid blue ; height : 200px; width:250px; display: flex; flex-direction: column; align-items:center; width: 100%">
            <h5> {{space}}</h5>
            {% for player in display['players_position'] %}
            {% if display['players_position'][player] == space %}
            <h6>{{ player.character.title }}</h6>
            {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
<!-- GAME PHASE -->
<div style="border: 1px solid orange">
    <h3> GAME PHASE</h3>
    <p id="gp">game phase: {{ display['game'].game_phase }}</p>
    <p id="gsp">game subphase: {{ display['game'].game_subphase }}</p>
    <p id="pos">dice_roll: {{ display['game'].current_player.dice_roll_result }}</p>
</div>


</body>
