{% include "header.html" %}
<body>
<form method="post">
    {% if game_phase == 3 %}
    <input type="submit" name='choose_char' value=' get random character'/>
    {% endif %}
    {% if game_phase == 'how_many_players' %}
    <p>How many players?</p>
    <input type="submit" name='p' value='1'/>
    <input type="submit" name='p' value='2'/>
    <input type="submit" name='p' value='3'/>
    <input type="submit" name='p' value='4'/>
    <input type="submit" name='p' value='5'/>
    <input type="submit" name='p' value='6'/>
    {% endif %}


    {% if game_phase == 'b4mov_spells' %}
    <div>
    <h1>Do you want to cast spell before movement?</h1>
    <input type="submit" name='yes' value='YES'/>
    <input type="submit" name='no' value='NO'/>
    {% endif %}
    {% if game_phase == 'b4mov_spells_casting' %}
    <h1>Which spell do you want to cast?</h1>
    {% for spell in spells %}
    {% endfor %}
        </div>
    {% endif %}



    {% if game_phase == 'movement_dice_roll' and game_subphase != 'movement' %}
    <h1>Please roll the dice to begin movement</h1>
    <input type="submit" name='dice_roll' value='dice roll'/>
    {% endif %}

    {% if game_phase == 'movement_dice_roll' and game_subphase == 'movement' %}
    <div>
        <h2>{{ move_option_1 }}</h2>
        <input type="submit" name='forward' value='Go to {{ button_mo1}}'/>
    </div>
    <div>
        <h2>{{ move_option_2 }}</h2>
        <input type="submit" name='backward' value='Go to {{ button_mo2 }}'/>
    </div>
    {% endif %}


    {% if game_phase == 'ETS' and game_subphase != 'ETS_draw' %}
    <div>
        <h2> Draw a card </h2>
        <input type="submit" name='draw' value='Draw a card'/>
    </div>
    {% endif %}
    {% if game_subphase == 'ETS_draw'%}
    <div>
        <h3>{{ card }}</h3>
        <input type="submit" name='ppp' value='OK'/>
    </div>
    {% endif %}



    {% if game_subphase == 'EWE_Evade' %}
    <h1>Do you want to try to evade?</h1>
    <input type="submit" name='yes_EWE_Evade' value='YES'/>
    <input type="submit" name='no_EWE_Evade' value='NO'/>
    {% endif %}
    {% if game_subphase == 'EWE_Spells' %}
    <h1>Do you want to cast spell before battle?</h1>
    <input type="submit" name='yes_EWE_Spells' value='YES'/>
    <input type="submit" name='no_EWE_Spells' value='NO'/>
    {% endif %}
    {% if game_subphase == 'EWE_Battle' %}
    <h1>Battle with {{ enemy_name }}</h1>
    <h2>Enemy strength {{ enemy_strength }}</h2>
    <input type="submit" name='dice_roll_enemy' value='dice roll for enemy'/>
    <input type="submit" name='dice_roll_character' value='dice roll for character'/>
    {% endif %}


</form>
<div>
    <p id="gp">game phase: {{ game_phase }}</p>
    <p id="gsp">game subphase: {{ game_subphase }}</p>
    <p id="pos">dice_roll: {{ throw }}</p>
    <p id="cn">current_player title: {{ name }}</p>
    <p id="cpp">current_player position: {{ position }}</p>
</div>
</body>
