{% include "header.html" %}
<body>
<form method="post">
    {% if game_phase == 3 %}
    <input type="submit" name='choose_char' value=' get random character'/>
    {% endif %}
    {% if game_phase == 'how_many_players' %}
    <p>How many players?</p>
    <input type="submit" name='p' value='1'/>
    <input type="submit" name='p' value='2'/>
    <input type="submit" name='p' value='3'/>
    <input type="submit" name='p' value='4'/>
    <input type="submit" name='p' value='5'/>
    <input type="submit" name='p' value='6'/>
    {% endif %}
    {% if game_phase == 1%}
    <input type="submit" name='dice_roll' value='dice roll'/>
    {% endif %}
    {% if game_phase == 2 %}
    <input type="submit" name='forward' value='move forward'/>
    <input type="submit" name='backward' value='move backward'/>
    {% endif %}
    {% if game_phase == 5_2 %}
    <input type="submit" name='dice_roll_enemy' value='dice roll for enemy'/>
    <input type="submit" name='dice_roll_character' value='dice roll for character'/>
    {% endif %}
</form>
<div>
    <p>game phase: {{ game_phase }}</p>
    <p>dice_roll: {{ throw }}</p>
    <p>current_player title: {{ name }}</p>
    <p>current_player position: {{ position }}</p>
</div>
</body>
